@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

/* *{border: 1px solid black} */

html {
    font-size: 20px;
    font-family: "DM Sans";
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'DM Sans';
    font-size: 20px;
}

h1 {
    font-weight: 400;
    font-size: 4rem;
    line-height: 3.8rem;
    color: #000000;
    margin-top: 80px;
    margin-bottom: 0px;
}

h2 {
    font-size: 2rem;
    font-weight: 350;
    margin: 0px;
}

h3 {
    font-style: italic;
    font-size: 1.8rem;
    line-height: 1.4rem;
    font-weight: 200;
    margin: 0px;
}

#instructions {
    width: 550px;
    margin-top: 20vh;
    font-size: 1.3rem;
    text-align: center;
    font-weight: 250;
}

button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px;
    gap: 8px;
    background: #2C2C2C;
    border: 1px solid #2C2C2C;
    border-radius: 8px;
    color: white;
    font-size: 1rem;
    margin-top: 1rem;
    font-family: "DM Sans";
    font-weight: 200;
}

form {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 0px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
    width: 320px;
    height: 450;

    font-weight: 300;
}

input, textarea{
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
    height: 1.5rem;
    width: 100%;
    resize: vertical;
    padding: 8px;
    height: 2rem;
    font-size: 1rem;
    font-family: "DM Sans";
    font-weight: 250;
}

input {
    margin-bottom: 12px;
}

#remarks {
    height: 4rem;
}

input[type="submit"] {
    gap: 8px;
    padding: 8px;
    background: #2C2C2C;
    border: 1px solid #2C2C2C;
    border-radius: 8px;
    color: white;
    font-size: 1rem;
    margin-top: 1rem;
    font-family: "DM Sans";
    font-weight: 200;
    height: 100%;
    margin-bottom: 0px;
}

.field-wrap {
    display: flex;
    flex-direction: column;
}

#x {
    position: absolute;
    top: 8px;
    right: 16px;
}

#x:hover, button:hover {
    cursor: pointer;
}

label {
    font-size: 1em;
    font-weight: 350;
    margin-bottom: 8px;
}

.hidden {
    visibility: hidden;
}

#books-container.hidden {
    visibility: hidden;
    height: 0px;
    margin-top: 0px;
}

#books-container {
    display: flex;
    margin-top: 10vh;
    gap: 40px;
}

.book-card {
    height: 300px;
    width: 240px;
    padding: 12px;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
    box-sizing: border-box;
}

.title-author {
    background-color: #D4D0D0;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 5px;
}

.title-author > p {
    padding: 0px;
    margin: 0px;
}

.book-card-title {
    font-size: 1.2rem;
    font-weight: 700;
}

.book-card-author {
    font-weight: 250;
}

.book-card-remarks {
    font-size: 0.9rem;
    font-weight: 250;
    font-style: italic;
}